@font-face {
    font-family: 'round-digitalio';
    font-style: normal;
   
    src: local('round-digitalio'), url('./assets/font/round-digitalio.ttf') format('ttf');
  } 
  .bungee-regular {
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
  }
  